<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.example.demo.mapper.CustomerMapper">
    <resultMap id="login" type="cn.example.demo.dao.Customer" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <collection property="addressInfo"
                    column="id"
                    ofType="cn.example.demo.dao.Address"
                    select="cn.example.demo.mapper.AddressMapper.collectionLogin"/>
    </resultMap>
    <sql id="all">
      SELECT  id,
        account,
        nickname,
        sex,
        phone,
        address,
        email,
        status,
        time
    </sql>
    <select id="customer" parameterType="int" resultMap="login">
        <include refid="all"/>
        FROM login
        <where>
            <if test="id != null">
             id = #{id}
            </if>
        </where>
    </select>
    <insert id="inset">
        INSERT INTO login
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="customer.id != null">
                id,
            </if>
            <if test="customer.account != null">
                account,
            </if>
             <if test="customer.nickname != null">
            nickname,
        </if>
         <if test="customer.password != null">
             password,
        </if>
         <if test="customer.sex != null">
            sex,
         </if>
         <if test="customer.phone != null">
            phone,
         </if>
            <if test="customer.address != null">
                address,
            </if>
            <if test="customer.email != null">
                email,
            </if>
        </trim>
        <trim prefix="VALUES (" suffixOverrides="," suffix=")">
            <if test="customer.id != null">
                #{customer.id},
            </if>
            <if test="customer.account != null">
                #{customer.account},
            </if>
            <if test="customer.nickname != null">
                #{customer.nickname},
            </if>
            <if test="customer.password != null">
                #{customer.password},
            </if>
            <if test="customer.sex != null">
                #{customer.sex },
            </if>
            <if test="customer.phone != null">
                #{customer.phone},
            </if>
            <if test="customer.address != null">
                #{customer.address},
            </if>
            <if test="customer.email != null">
                #{customer.email},
            </if>
        </trim>
    </insert>
    <update id="update">
        UPDATE login
        SET status = #{value}
        WHERE phone =#{account}
    </update>
    <update id="updateCustomer">
        UPDATE login
        <set>
            <if test="customer.nickname != null">
                nickname = #{customer.nickname},
            </if>
            <if test="customer.password != null">
                pasaword = #{customer.password},
            </if>

            <if test="customer.sex != null">
                sex = #{customer.sex},
            </if>
            <if test="customer.phone != null">
                phone = #{customer.phone},
            </if>
            <if test="customer.address != null">
                address = #{customer.address},
            </if>
            <if test="customer.email != null">
                email = #{customer.email},
            </if>
            <if test="customer.status != null">
                status = #{customer.status},
            </if>
            <if test="customer.time != null">
                time = #{customer.time}
            </if>
        </set>
        WHERE id = #{customer.id}

    </update>
    <delete id="delete">
         DELETE FROM login WHERE phone = #{account}
    </delete>
</mapper>
