<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.demo.mapper.LoginMapper">
    <resultMap id="customer" type="cn.example.demo.dao.Customer" >
        <id column="id" property="id" />
        <result column="password" property="password" />
    </resultMap>
    <sql id="info">
       SELECT id, nickname, password, sex, phone, address, email, time
    </sql>
    <select id="result" resultMap="customer">
        <include refid="info"/>
        FROM login
        WHERE phone = #{login.account} AND password=#{login.password}
    </select>
    <select id="check" resultMap="customer">
        <include refid="info"/>
        FROM login
        WHERE phone = #{phone}
    </select>
    <update id="reset">
        UPDATE login
        <set>
            <if test="customer.password != null and customer.password != ''">
                password = #{customer.password}
            </if>
        </set>
        WHERE phone = #{customer.phone}
    </update>
</mapper>
